/*
bg footer, header:  121212
bg main: 000
red: ff0044
 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
}

header {
    display: flex;
    padding: 1rem;
    background-color: #121212;
    justify-content: space-between;
}

.header-content{
    margin: .6rem 4rem;
}

.logo {
    height: 2rem;
}

nav {
    display: flex;
    gap: 20px;
}

.nav-button {
    padding-bottom: .5rem;
    color: #fff;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    transition: .2s;
}

.nav-button:hover {
    border-bottom: 2px solid #ff0044;
}

main {
    background-color: #000;
}

h1,
h2,
h3,
p {
    color: white;
}

#welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

#categories {
    display: grid;
    grid-template-areas: 
        "spt spt asd"
        "spt spt asd"
        "spt spt asd"
    ;
    gap: 0 2rem;
    margin: 0 5rem;
}

#sports {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(20rem, auto);
    gap: 1rem;
    align-content: center;
    grid-area: spt;
}

#sports > article {
    border: 2px solid black;
    display: flex;
    width: 20rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    background-color: #3d3c3c;
    transition: .4s;
}

#sports > article:hover {
    border: 2px solid #ff0044;
    cursor: pointer;
}

.description {
    width: 90%;
    text-align: justify;
}

.sport-image {
    min-height: 11rem;
    max-width: 18rem;
    border-radius: 15px;
    overflow: hidden;
}

aside {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #121212;
    border-radius: 20px;
    margin: 1rem 0;
    grid-area: asd;
}

#aside-title {
    margin: 2.5rem auto 0;
    padding: 0 1rem;
    text-align: center;
}

.aside-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.aside-image {
    border-radius: 15px;
    width: 90%;
    transition: .4s;
}

.aside-image:hover {
    cursor: pointer;
    border: 2px solid #ff0044;
}

.aside-article-title {
    transition: .4s;
}

.aside-article-title:hover {
    cursor: pointer;
    color: #ff0044;
}
